body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-image:linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
}



.button-c{
    border: 2px solid black;
    background-image:linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
   
}

/* .heading-1{
    text-transform: uppercase;
} */
